<app-text-input label="Neuer Wert"
                [(value)]="value"></app-text-input>

<button (click)="elements.push(value)">Add Element</button>

<p>
  Sie haben folgendes eingegeben: {{ value }}
</p>

<button (click)="doShowToggle()">Toggle Toast</button>

<div class="toast"
     *ngIf="showToggle">
  Beispieltext
</div>

<ol>
  <li *ngFor="let element of elements">
    <app-list-item [text]="element"
                   [anotherInput]="678234"
                   (deleted)="deleteElement($event)"></app-list-item>
  </li>
</ol>

Navigation:
<ul class="nav">
  <li>
    <a class="nav__item"
       routerLink="/"
       routerLinkActive="nav__item--active"
       [routerLinkActiveOptions]="{exact: true}">
      Index
    </a>
  </li>
  <li>
    <a class="nav__item"
       routerLink="/first"
       routerLinkActive="nav__item--active">
      First
    </a>
  </li>
  <li>
    <a class="nav__item"
       routerLink="/first/sub-1"
       routerLinkActive="nav__item--active">
      First Sub 1
    </a>
  </li>
  <li>
    <a class="nav__item"
       routerLink="/second"
       routerLinkActive="nav__item--active"
       [routerLinkActiveOptions]="{exact: true}">
      Second
    </a>
  </li>
  <li>
    <a class="nav__item"
       routerLink="/third"
       routerLinkActive="nav__item--active"
       [routerLinkActiveOptions]="{exact: true}">
      Third
    </a>
  </li>
  <li>
    <a class="nav__item"
       routerLink="/extra"
       routerLinkActive="nav__item--active"
       [routerLinkActiveOptions]="{exact: true}">
      Extra
    </a>
  </li>
</ul>

Content:
<router-outlet></router-outlet>
